#blogs{
    display: flex;
    /* height: 100vh; */
    /* width: 100%; */
    align-items: center;
    justify-content: center;

}
#blogs img{
    margin: 0px;
    padding: 0px;
}


main{
    margin-top: 80px;
}
.footerblog{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}


:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #e21717;
}



ul {
  list-style-type: none;
  -webkit-padding-start: 35px;
          padding-inline-start: 35px;
}

svg {
  width: 100%;
  visibility: hidden;
}

h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.btn.green {
  border: 4px solid var(--green);
  color: var(--blue);
}
.btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  transition: 0.2s ease;
}
.btn.green:hover {
  color: var(--white);
  background: var(--green);
  transition: 0.2s ease;
}
.btn.green:hover:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  .footerblog{
    display: block;
    width: 100%;
    position: relative;
    bottom: 0;
  }

  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}