@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Zilla+Slab:wght@300&display=swap');

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   html{
       scroll-behavior: smooth;
   }
   body{
    margin: 0px;
    padding: 0px;
   }

:root{
    margin: 0px;
    padding: 0px;
    --bg-color-dark: #101928;
    --bg-color-light: #f5f5f5;
    --font-dark: #101928;
    --font-light: #f5f5f5;

    --google-blue: #4285f4;
    --google-red: #ea4335;
    --google-yellow: #fbbc05;
    --google-green: #34a853;
    
    --primary-font: 'Varela Round', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --tertiary-font: 'Teko', sans-serif;
}
section{
    margin: 0px;
    padding: 0px;
}

/* NAV BAR */

#nav{
    width: 95vw;
    margin: auto;
}
.navbar {
    width: 100%;
    display: inline-flex;
    align-items: center; 
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    justify-content: space-around;
    /* background-color: rgb(141, 151, 180); */
}

/* LOGO */
.logo {
    width: 400px ;
    height: 50px;
    /* background-color: #d13737; */
}
.logo  img{
    width: 300px;
 /* height: auto; */
}


/* NAVBAR MENU */
.nav-menu{
    display: flex;
 
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    /* background-color: #00d9ff; */
    
}

.nav-links a {
    /* color: rgb(0, 0, 0); */
    /* font-family: "Open Sans", sans-serif; */

    text-decoration: none;
}
   
.menu {
    padding: 14px 0;
    display: flex;
    justify-self: flex-end;
    /* gap: 1em; */
    font-size: 18px;
   }
.menu li a:hover {
       animation: logo-animation 5s ease-in-out infinite;
       transition: 0.3s ease;
}


.menu li {
    padding: 5px 14px;
}
   /* DROPDOWN MENU */
.events_menu {
    position: relative; 
}
.dropdown {
    background-color: rgb(238, 252, 255);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #c0f3fa;
}
.events_menu:hover .dropdown {
    display: block;
}
/* Test */

.button-join {
    
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-join:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 1024px) {
    .button-join {
        padding: 0.25em 0.75em;
    }
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


@keyframes logo-animation {
    0% {color: #EA4335;}
    25%{color: #4285F4;}
    50%{color: #34A853;}
    75%{color: #FBBC05;}
    100% {color: #EA4335;}
}




/* APPLYING MEDIA QUERIES */
@media Screen and (max-width: 850px) {
    
    .navbar{
        width: 100%;
        height: 60px;
        
    }
    
    .navbar .logo{
        width: 300px;
        height: auto;
        
    }
    .navbar .logo img{
        width: 250px;
    }
    .menu { 
        /* background-color: #f5f5f5; */
        width: 100vw;
        backdrop-filter: blur(12px);
        display:none;
        position:fixed;
        height: 100vh;
        top: 0px;
        right: 0;
        left: 0;
        text-align: center;
        padding-top: 30px;
        z-index: 1;
        transition: 4s ease-in; 
        transition-property: display;
    }
    .menu  li {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
        
    }
    .hamburger {
        position: absolute;
        right: 5px;
        z-index: 10;
        margin-top: 15px;
        display: block;
    }
    
}


/* TEAM */


#team{

    padding-top: 70px;
    
}

.header{
    font-family: 'Varela Round', sans-serif;

}

.header h1{
    font-size: 50px;

    text-align: center;

}

.header p{ 
    font-size: 20px;
    text-align: center;
}


#team .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#team .cards .members:hover{
    transition: 0.5s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#team .cards .members{
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    transition: 0.5s;
    /* background-color: #1a265a7a */
}
#team .cards .members .photo{
    width: 100%;
    height: 160px;
}

#team .cards .members .photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#team .cards .members  img:hover{
    transition: transform 1.1s;
    transform: scale(1.11);
}

#team .cards .members  img:not(:hover){
    transition: transform 2s;
    transform: scale(1.0);
}

#team .cards .members .text{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 30px;
} 

#team .cards .members .text h4{
    font-weight: 600;
    font-size: 18px;
} 
#team .cards .members .text h5{
    font-size: 18px;
}


@media (max-width:580px) {
    #team{
        padding: 10px;   
    }
    #team .card-main{
        border-radius: 20px;
        padding-top: 20px;
    }

    .header h1{
        font-size: 30px;
    }
    
    .header p{
        font-size: 15px;
    }
    #team .cards .members{
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px;
        margin: 10px;
        width: 140px;
        transition: 0.5s;
        /* background-color: #1a265a7a */
    }
    #team .cards .members .photo{
        width: 100%;
        height: 100px;
    }
    
    #team .cards .members .photo img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    #team .cards .members .text{
        margin-top: 20px;
    } 
    
    #team .cards .members .text h4{
        font-weight: 600;
        font-size: 15px;
    } 
    #team .cards .members .text h5{
        font-size: 15px;
    }

}





/* Footer */

.footer {
    width: 100%;

}
.footer img{
    width: 100%;
}

.cpr {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    /* align-self: center; */
    margin-top: 15px;
}

.inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
}

.footer-items p {
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	color: rgb(0, 0, 0);
}

.footer-items h1 {
    /* font-size: 20px; */
	color: rgb(0, 0, 0);
}

.border1 {
	height: 3px;
	width: 130px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	/* border: 8px; */
}

ul {
	list-style: none;
	/* color: rgb(0, 0, 0); */
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: rgb(0, 0, 0);
	transition: 0.3s;
}

/* ul a:hover {
	color: #ff9800;
} */

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
    margin-right: 20px;
}

.footerclose{
	padding: 10px;
    margin: 0%;
	background: #000000;
	color: rgb(255, 255, 255);
	font-size: 12px;
	text-align: center;
    padding-bottom: 0%;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    height: 30px;
}

/* for tablet mode view */
 
@media screen and (max-width: 980px) {
    .footer-items {
        width: 50%;
	}
} 

/* for mobile screen view */

@media screen and (max-width: 500px) {
	.footer-items {
		width: 100%;
	}
    .footer-items .image{
        width: 200px;
        margin: auto;
    }

}



/* Test */

.button-join {
    
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-join:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 1024px) {
    .button-join {
        padding: 0.25em 0.75em;
    }
}