@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700');
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   html{
       scroll-behavior: smooth;
   }
   


/* NAV BAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    /* background-color: rgb(141, 151, 180); */
    -webkit-animation: fadeIn 2s alternate 1;
    animation: fadeIn 3s alternate 1;
   }

   .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
   }
   /* LOGO */
   .logo {
    width: inherit;
    height: inherit;
    border-radius: 25px;
    background-color: #ffffff;
    padding-left: 5%;
   }
   .logo  img{
    width: 70%;
    height: 70%;
    border-radius: 25px;
   }

    
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li a:hover {
       border-radius: 5px;
       animation: logo-animation 5s ease-in-out infinite;
       transition: 0.3s ease;
}

@keyframes logo-animation {
    0% {color: #EA4335;}
    25%{color: #4285F4;}
    50%{color: #34A853;}
    75%{color: #FBBC05;}
    100% {color: #EA4335;}
  }

   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .events_menu {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(238, 252, 255);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #c0f3fa;
   }
   .events_menu:hover .dropdown {
    display: block;
   }
   .menu .btn{
    background-color: #0961e6b7;
    border: none;
    border-radius: 8px;
    padding: 0.5em 1em;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
   }
   .menu .btn{
    color: #0961e6b7;
   }
   .menu button:hover{
    background-color: #00d9ff;
   }
   .menu .btn a{
    color: #dcffff;
   }
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:rgb(241, 252, 252);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#dcffff;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #689c9c;
   }
   }

/* TEAM */


#team{
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 70px;
    
}
#team{
    
    -webkit-animation: fadeIn 2s alternate 1;
    animation: fadeIn 3s alternate 1;
}

.header h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
}

.header p{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 50px;
}
#team .card-body{
    margin: 30px;
}
#team .card-main{
    /* background-color: rgba(91, 165, 169, 0.413); */
    border-radius: 20px;
}

#team .cards{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#team .cards .members{
    margin-right: 40px;
    margin-left: 40px;
    justify-content: space-between;
    
    height: 300px;
    width: 200px;
}
#team .cards .members .photo{
    width: 100%;
    height: 200px;
}
#team .cards .members .photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px;
}  
#team .cards .members .photo img:hover{
    transition: transform 3s;
    transform: scale(1.09);
}  
#team .cards .members .text{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px;
} 

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Zilla+Slab:wght@300&display=swap');

#team .cards .members .text h4{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
} 
#team .cards .members .text h5{
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
}

/* Footer */

.footer {
	width: 100%;
	background: #ffffff;
	display: block;
 }
 .footer img{
     width: 100%;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: rgb(0, 0, 0);
}

.footer-items h1 {
	color: rgb(0, 0, 0);
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: rgb(0, 0, 0);
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: rgb(0, 0, 0);
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: rgb(0, 0, 0);
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */
 
@media screen and (max-width: 980px) {
    .footer-items {
        width: 50%;
	}
} 

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

.red{
    color: rgb(220, 53, 38);
}
.blue{
    color: rgb(6, 116, 241);
}